.task5__list {
  @include list();

  font-size: 0;
}

.task5__item {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: calc((100% - 30px)/4);

  vertical-align: top;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

@media(max-width:1050px) {
  .task5__item {
    width: calc((100% - 10px)/2);

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media(max-width:650px) {
  .task5__item {
    display: block;
    width: 100%;
    margin-right: 0;
  }
}
