$desktop: 1280px;
$min-desktop: 1000px;
$tablet: 767px;

$white: #ffffff;
$white-a50: rgba(255, 255, 255, 0.5);
$black: #000000;
$black-03-opacity: rgba(0, 0, 0, 0.3);
$black-08-opacity: rgba(0, 0, 0, 0.8);

$text-color: $black;

$primary-color-1: #B0E0E6;
$primary-color-2: #437DD4;

$secondary-color-1: #F5F5F5;

$appetite: "AppetiteNew", "Arial", sans-serif;
$museo: "MuseoSansCyrl", "Arial", sans-serif;



